.login_container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("./advista-logo.png") no-repeat;
    background-size: cover;
    background-position: center;
}

.Form {
    width:420px;
    background: transparent;
    border:2px solid rgba(255,255,255,.2);
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    backdrop-filter: blur(10px) ;
    color:#5fa180;
    border-radius: 15px;
    padding:30px 40px;
}

.Form h1 {
    font-size: 36px;
    text-align: center;
}

.Form .input {
    position:relative;
    width:100%;
    height:50px;
    margin:30px 0
}

.input input {
    width:100%;
    height:100%;
    background: transparent;
    outline:none;
    border:2px solid rgba(80, 147, 123, 0.442);
    border-radius: 40px;
    font-size:16px ;
    color:#000;
    padding:20px 45px 20px 20px
}

.input input::placeholder{
    color:#000
}

.Form .forgot_password {
    display:flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin:-15px 0 15px
} 

.forgot_password input label {
    accent-color: #000;
    margin-right: 4px;
}

.forgot_password a {
    color:#000;
    text-decoration: none;
}

.forgot_password a:hover {
    text-decoration: underline;
}

.Form button {
    width:100%;
    height:45px;
    background: #000;
    border:none;
    outline:none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    cursor: pointer;
    font-size: 16px;
    color:#5fa180;
    font-weight:700
}

.Form .register {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register p Link {
    color:#000;
    text-decoration: none;
    font-weight: 600;
}

.register p Link:hover {
    text-decoration: underline;
}